<p id="notice"><%= notice %></p>

<h1 id='listings_page_header'>All Cues</h1>

    <% @sticks.each do |stick| %>
    <%= link_to stick do %>
      <div class='listing'>
        <%= image_tag stick.image.url %>
        <div id='listing_title' class='sliding-middle-out'><%= stick.title %></div>
        <div class='listing_desc'>
          <p><div class='sliding-middle-out'><strong>Price:</strong></div> <%= number_to_currency(stick.price) %></p>
          <p><div class='sliding-middle-out'><strong>Color:</strong></div> <%= stick.color %></p>
          <p><div class='sliding-middle-out'><strong>Weight:</strong></div> <%= stick.weight %> oz</p>
        </div>
      </div>
    <%end%>
    <% end %>


<br>

<%= link_to 'New Stick', new_stick_path %>
